.vs/
REBUSS.GitDaif.McpDiffServer.Tests/bin/
REBUSS.GitDaif.McpDiffServer.Tests/obj/
REBUSS.Pure.Tests/bin/
REBUSS.Pure.Tests/obj/
REBUSS.Pure.AzureDevOps/obj/
REBUSS.Pure.Core/bin/
REBUSS.Pure.Core/obj/
REBUSS.Pure.AzureDevOps/bin/
REBUSS.Pure.GitHub/obj/
REBUSS.Pure.GitHub/bin/
REBUSS.Pure.AzureDevOps.Tests/bin/
REBUSS.Pure.AzureDevOps.Tests/obj/
REBUSS.Pure.Core.Tests/bin/
REBUSS.Pure.Core.Tests/obj/
REBUSS.Pure.GitHub.Tests/bin/
REBUSS.Pure.GitHub.Tests/obj/
REBUSS.Pure.SmokeTests/bin/
REBUSS.Pure.SmokeTests/obj/
.github/agents/
speckit*.md
.specify/
specs/
.github/instructions/review-pr.instructions.md
.github/instructions/self-review.instructions.md
.vscode/mcp.json
.vscode/settings.json
